/* Remove the default margin and padding from the body. */
body {
  padding: 50;
  margin: 100;
  background-color: rgb(196, 237, 255);
 }


/* Set map, body, and html to 100% of the screen size. */
#map,
body,
html {
  height: 600px;
  width: 100%;
}

/* Make sure the html and body have full height (optional for layout) */
html, body {
  height: 100%;
}

/* Styling for the legend container */
.leaflet-control.legend {
  background-color: #fffefe;
  padding: 19px;
  font-size: 14px;
  line-height: 18px;
  color: #555;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Styling for the color boxes inside the legend */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
/* Styling for the legend title */
.legend-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
/* Add the legend */

/* .legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
} */
  


